
<section class="newsletter" id="mc_embed_signup">
  <h2 class="newsletter_title">Newsletter</h2>
  <form method="POST" action="https://wtm-ch-slack.herokuapp.com/invite" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Enter your email below to join us on Slack!</label>
    <div class="newsletter_box" id="mc_embed_signup_scroll">
      <input type="email" name="EMAIL" placeholder="Email address" class="email_input" id="mce-EMAIL" required>
      <input type="submit" value="join" name="subscribe" class="subscribe_btn" id="mc-embedded-subscribe">
    </div>
  </form>
</section> <!-- End Section slack invite -->
